@use './variables' as *;

body {
  font-family: 'Times New Roman', Times, serif;
  color: #333;
  background-color: #f7f7f7;
  line-height: 1.6;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}